<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">

  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>

    <env name="SIMPLETEST_BASE_URL" value="http://web"/>
    <!--    <env name="SIMPLETEST_BASE_URL" value=""/>-->
    <!--    <env name="SIMPLETEST_BASE_URL" value="http://d10-playground-v2.ddev.site"/>-->

    <env name="SIMPLETEST_DB" value=""/>
    <!--    <env name="SIMPLETEST_DB" value="mysql://db:db@db/db"/>-->

    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>

    <!--    <env name="IS_DDEV_PROJECT" value="sites/default/settings.ddev.php"/>-->

    <!-- Configuration for Mink and Selenium WebDriver -->
    <env name="MINK_DRIVER_CLASS" value=""/>

    <env name="MINK_DRIVER_ARGS" value=""/>
    <!--    <env name="MINK_DRIVER_ARGS" value='["http://d10-playground-v2.ddev.site:4444/wd/hub"]'/>-->

    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=""/>
    <!--    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {}, "http://d10-playground-v2.ddev.site:4444/wd/hub"]'/>-->

    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>

    <!-- Add any additional configurations if needed -->
  </php>

  <extensions>
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <parameter name="outputDirectory" value="web/sites/simpletest/browser_output"/>
      <parameter name="verbose" value="true"/>
    </bootstrap>
  </extensions>

  <testsuites>
    <testsuite name="unit">
      <directory>web/modules/custom/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>web/modules/custom/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>web/modules/custom/**/tests/src/Functional</directory>
    </testsuite>
  </testsuites>
</phpunit>
